.GM_breadcrumb>li+li:before,
.GM_breadcrumb>li {
	content: ">";
	color: #777;
}

.GM_Boder {
	border: 1px solid #ddd;
}
html,body{
	height:100%;
}
#DeleteFile {
	height:calc(100% - 50px);
}

.show-pic {
	float: left;
	width: 200px;
	height: 200px;
	width:25%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.show-pic .imgbox {
	max-width: 150px;
	max-height: 150px;
	min-width:100px;
	min-height:100px;
	width:80%;
	margin: auto;
	position:absolute;
}
.show-pic .imgbox span{
	position:absolute;
	color:#000;
	font-size:bold;
	cursor: pointer;
	font-size:10px;
	right:-5px;
	top:-5px;
	transition:all .3s linear;
	z-index:10;
}
.show-pic .imgbox span:hover{
	font-size:20px;
	right:-10px;
	top:-10px;
	transform: rotate(90deg);

}
.show-pic .imgbox img{
	width:100%;
	cursor: pointer;
	box-shadow:0px 0px 20px gray;
	
}
.show-pic .imgbox:hover{
	
}
@media only screen and (min-width: 1600px) {
	.show-pic {
		width:20%;
	}
}
@media only screen and (max-width: 600px) {
	.show-pic {
		width:50%;
	}
}
@media only screen and (max-width: 300px) {
	.show-pic {
		width:100%;
	}
}

.csshub-loader{
	position: absolute;
	top:20%;
	left:30%;
}
.csshub-loader span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  opacity: 0;
}

.csshub-loader span:nth-child(1){
  animation: csshub-opacitychange 1s ease-in-out infinite;
  -webkit-animation: csshub-opacitychange 1s ease-in-out infinite;
}

.csshub-loader span:nth-child(2){
  animation: csshub-opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: csshub-opacitychange 1s ease-in-out 0.33s infinite;
}

.csshub-loader span:nth-child(3){
  animation: csshub-opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: csshub-opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes csshub-opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

@-webkit-keyframes csshub-opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}

