*{
	padding:0px;
	margin:0px;
}

.login-box{
	position: absolute;
	width:40%;
	height:50%;
	min-height:280px;
	/*min-width:440px;*/
	margin:auto;
	top: 25%;
	left:50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	/*margin-top:50%;*/
	/*transform: translateY(-50%);*/
	/*background-color: rgba(255, 255, 255, 0.407843);*/
	background-color: rgba(0, 0, 0, 0.4);  
	border-radius: 10px;
	color:beige;
	border: 1px solid white;
	/*background-color: white*/
}
#lay_bg{
	min-height:280px;
	min-width:400px;
}
header{
	text-align: center;
	border-bottom:1px solid yellowgreen;
}
h1{
	padding-top:10px;
	padding-bottom:5px;
	line-height:24px;
	font:sans-serif;
	font-size:2em;
}
nav{
	opacity:.5;
}
.layui-form-switch{
	width:50px!important;
}


@media screen and (max-width: 768px)  {
	.womendouxiao{
		display: none;
	}
}