.hehe-1 {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.hehe {
	text-align: right;
}

.hehecolor {
	background-color: aliceblue;
}

.yincang {
	display: none;
}

.font-colorOfTixing {
	color: red;
}

#cao_2 {
	border-radius: 100%;
	overflow: hidden;
}

.headerImage {
	width: 100%;
	height: 100%;
}

#beijingCanvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

#d3Divshow {
	height: 400px;
	border: 1px solid gainsboro;
	box-shadow: 2px 2px 3px #aaaaaa;
	position: relative;
	z-index: 10;
}

.tooltip {
	font-family: simsun;
	font-size: 14px;
	width: 120;
	height: auto;
	position: absolute;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-radius: 5px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.circle {
	fill: white;
	stroke: steelblue;
	stroke-width: 2px;
}

.area {
	stroke: none;
	opacity: 0.1;
}

.zeroline {
	fill: none;
	stroke: red;
	stroke-width: 0.5px;
	stroke-dasharray: 5 5;
}

.zerolinetext {
	fill: red;
}

.overlay {
	fill: none;
	stroke: none;
	pointer-events: all;
}


/* 不填充，描边宽0.5px颜色为蓝色 */

.focusLine {
	fill: none;
	stroke: steelblue;
	stroke-width: 0.5px;
}

.focusCircle {
	fill: red;
}

#demo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.top {
	opacity: .5;
	background-color: #131313;
	font-family: "微软雅黑";
}

.textColor {
	background: linear-gradient(to bottom, #FF0000, #FF7F24, #C0FF3E, #FFFF00, #00F5FF, #68228B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:1.5rem;
}