

.hehe-1{
    text-align: center;
}
a:hover{
    text-decoration: none;
}
.hehe{
    text-align: right;
}
.hehecolor{
    background-color: aliceblue;
}
.yincang{
    display: none;
}
.font-colorOfTixing{
    color:red;
}