* {
	padding: 0px;
	margin: 0px;
}

body {
	background: url("../img/loginbg3.jpg") no-repeat fixed;
	background-size: 100% 100%;
}

.register-box {
	width: 450px;
	height: 330px;
	margin: auto;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.407843);
	/*background-color: rgba(0, 0, 0, 0.8);*/
	border-radius: 10px;
	color: beige;
	border: 1px solid white;
	position: relative;
}

header {
	text-align: center;
	border-bottom: 1px solid yellowgreen;
}

h1 {
	padding-top: 10px;
	padding-bottom: 5px;
	line-height: 24px;
	font: sans-serif;
	font-size: 2em;
}

nav {
	opacity: .5;
}

.show-tips {
	display: none;
	position: absolute;
	width: 150px;
	line-height: 40px;
	left: calc(50% - 50px);
	bottom: 100px;
	color: #000;
	z-index: 1000;
	border: 1px solid blue;
	background-color: aqua;
	text-align:center;
	border-radius:10px;
	color: red;
	font:sans-serif;
}